body {
  background-image: url("./assets/macetas.png"); /* Si está en la carpeta public */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Mantiene el fondo fijo */
}