error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: indianred;
    color: #e94560;
    font-family: "Arial", sans-serif;
  
    
  }
  .primer-container{
    background-color: sandybrown;
    margin: 25px;
    padding: 25px;
    width: 400px;
    height: 400px;
  }
  .segundo-container{
    background-color: whitesmoke;
    margin: 25px;
    padding: 25px;
    width: 300px;
    height: 300px;
  }
  .error-title {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
  }
  
  .error-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .error-button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #e94560;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .error-button:hover {
    background-color: #ff2e63;
  }